.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.empty-list {
  margin: 20px auto;
  text-align: center;
  font-size: 1.5em;
  height: 200px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.red {
  color: #F44336;
}

.green {
  color: #4CAF50;
}

