<form name="form" [formGroup]="changeStatusForm" (ngSubmit)="changeStatus()">
<h1 mat-dialog-title>Change status</h1>
<div mat-dialog-content>
    <div class="row">
      <h4 class="title">Status</h4>
      <mat-radio-group class="field field_radio" formControlName="status">
        <mat-radio-button [value]="statuses.Approved" color="primary">Approved </mat-radio-button>
        <mat-radio-button [value]="statuses.Rejected" color="primary">Rejected </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
      <h4 class="title">Reason </h4>
      <mat-form-field class="col l4" floatLabel="never">
          <textarea matInput formControlName="reason" type='text' matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">
          </textarea>
        <mat-error *ngIf="changeStatusForm.controls['reason'].hasError('required')">
          This field is mandatory
        </mat-error>
        <mat-error *ngIf="changeStatusForm.controls['reason'].hasError('maxlength')">
          This field should contain max 250 chars.
        </mat-error>
      </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>
</form>
