
<mat-button-toggle-group #group="matButtonToggleGroup" multiple (change)="applyFilter(group.value)">
  <mat-button-toggle value="{{statuses.Pending}}" [checked]="true">
    Pending
  </mat-button-toggle>
  <mat-button-toggle value="{{statuses.Approved}}">
    Approved
  </mat-button-toggle>
  <mat-button-toggle value="{{statuses.Rejected}}">
    Rejected
  </mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf="dataSource && dataSource.data.length; else noRecords" class="mat-elevation-z3 table-wrapper">
  <mat-table  [dataSource]="dataSource">

    <ng-container matColumnDef="paymentDate">
      <mat-header-cell *matHeaderCellDef> Payment date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.paymentDate | dateTimeFormat}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span [ngClass]="(element.status === statuses.Approved) ? 'green' : 'red'"> {{statuses[element.status]}} </span></mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} {{element.currency}}</mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="element.status === statuses.Pending">
          <button mat-raised-button color="primary" (click)='changeStatus(element.id)'>Change Status</button>
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reason">
      <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
      <mat-cell *matCellDef="let element" class="cell-content"><span [title]="element.reason">{{element.reason}}</span></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #noRecords>
  <div class="empty-list" *ngIf="!isLoading">
    <span>No records to display</span>
  </div>
</ng-template>
